.idea/*
!.idea/inspectionProfiles/*
!.idea/runConfigurations/*
!.idea/scopes/*
!.idea/codeStyleSettings.xml
!.idea/encodings.xml
!.idea/templateLanguages.xml
!.idea/typescript-compiler.xml
!.idea/vcs.xml

node_modules/*
